body { background-color: bisque;
    margin: 0;
}

h1 { 
    color: #ff9e2b;
    margin: 0;
}
h3 { 
    color: #ff9e2b;
} 
hr { 

    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: gray;
    width: 5%;

}

.hobbies 
{
    background-color: honeydew;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-info
{
    background-color: khaki;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container
{
    background-color: powderblue;
}
